<% layout("/layouts/boilerplate") %>

<body>
    
    <a href="/listings"><button>Show all listings</button></a>
    <a href="/user/user_signup"><button>User signup</button></a>
    <a href="/user/user_login"><button>User login</button></a>


</body>
