<% layout("/layouts/boilerplate") %>



<body>
    
    <div class="container">
        <h1>Log In</h1>
    <form action="/user/user_login" method="post" novalidate class="needs-validation " autocomplete="off">
        <div class="row">
            <div class="col-sm-12">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Enter Username" required>
                <div class="valid-feedback">Good Username</div>
                <div class="invalid-feedback">Please enter relevent username</div>
            </div>
            <div class="col-sm-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Enter Password" required>
            </div>
        </div>
        <button class="btn btn-primary" style="background-color: rgb(0, 148, 197); border: none;">Submit</button>
    </form>
    </div>

   
</body>